/**********************************Default Style *****************************/

* {
    margin: 0;
    padding: 0;
}

/**********************************Main Page Style **************************/

body {
    background-image: url(images/diceeback.jpg);
    height: 100vh;
}

h1, h2 {
    font-size: 5rem;
    color: #0F4C75;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 3%;
}

h2 {
    font-size: 3.5rem;
}

/********************************Card Section Style ***************************/

#diceCard {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    width: 100%;
}

#dice1, #dice2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
}

#dice2 {
    margin-right: 0;
}

/*****************************************User Section Style ***************************/

.user1, .user2 {
    color: #BBE1FA;
    text-align: center;
    padding-bottom: 10%;
}

img {
    border-radius: 5%;
    height: 20vh;   
}

.face, .face0 {
    display: none;
}

.face1, .face7 {
    display: block;
}

/****************************************Button Section STYLE ***************************************/

.roll-button {
    text-align: center;
    padding-top: 3%;
}

.roll {
    font-size: 1.7rem;
    width: 20%;
}

/*****************************************Media Query STYLE Section **********************************/

@media (max-width: 300px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #diceCard {
        padding-top: 20%;
        flex-direction: column;
        align-items: center;
    }

    #dice1 {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .roll-button {
        padding-top: 15%;
    }

    .roll {
        width: 75%;
    }
}


@media (min-width: 301px) and (max-width: 480px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #diceCard {
        padding-top: 20%;
        flex-direction: column;
        align-items: center;
    }

    #dice1 {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .roll-button {
        padding-top: 15%;
    }

    .roll {
        width: 75%;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #diceCard {
        padding-top: 10%;
    }

    .roll-button {
        padding-top: 10%;
    }

    .roll {
        width: 50%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #diceCard {
        padding-top: 10%;
    }

    .roll-button {
        padding-top: 10%;
    }

    .roll {
        width: 50%;
    }

}

@media (min-width: 992px) and (max-width: 1365px) {


    #diceCard {
        padding-top: 10%;
    }

    .roll-button {
        padding-top: 10%;
    }

    .roll {
        width: 50%;
    }

}