* {
    margin: 0;
    padding: 0;
}

/**********************************Main Page Style **************************/

body {
    background-image: url(images/diceeback.jpg);
}

h1 {
    font-size: 5rem;
    color: #0F4C75;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 3%;
}

/********************************Card Section Style ***************************/

#diceCard {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 3%;
    width: 100%;
}

#dice1 {
    margin-right: 5%;
}

img {
    border-radius: 5%;
    height: 20vh;   
}

.face, .face0 {
    display: none;
}

.face1, .face7 {
    display: block;
}


/****************************************Button STYLE ***************************************/

.roll-button {
    text-align: center;
    padding-top: 5%;
}

.roll {
    font-size: 1.7rem;
    width: 20%;

}





